
.page-title{
    font-size: 38px;
    line-height:44px;
    text-transform:uppercase;
    margin-bottom:30px;
}

/*
About Us
----------------------------*/

.st-row{
    margin-bottom: 3rem;
}
.site-title{
    @extend .widgettitle;
    &:after{
        content: '';
        display: block;
        width: 5.8rem;
        height: .8rem;
        background: url(../images/other/site-title-line.png) center center no-repeat;
        margin: 1.5rem auto 2.5rem;
    }
}
.box-text{
    @extend .text-center;
    max-width: 66.666667%;
    margin: 0 auto;
}
.box-quote{
    .quote{
        margin-top: 2rem;
    }
}
.quote{
    font-size: 1.5rem;
    line-height: 2.4rem;
    i{
        font-family: $font-body3;
    }
}
//Banner
.gr-banners{
    .bn-col{
        &:nth-child(2n+1){
            @include padding-right(0.5rem);
        }
        &:nth-child(2n+2){
            @include padding-left(0.5rem);
        }
    }
    .single-image{
        margin-bottom: 1rem;
    }
}

/*
Contact Us
----------------------------*/
.contact-page{
    .st-contact{
        padding: 25px 0;
    }
    .page-title{
        margin-bottom: 0;
    }
}
.contact-info{
    margin: 0 0 16rem
}
.bx-title{
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom:2px solid $whisper;
    color: $silver;
    font-size: 1.2rem;
    p{
        margin: 0;
        padding: 0;
    }
    h3{
        font: {
            size: 1.4rem;
        }
        line-height: 2rem;
        color: $black;
        text-transform: uppercase;
        margin-bottom: .5rem;
    }
}
.info{
    .hotline{
        font: {
            size: 1.8rem;
            weight: 700;
        }
        line-height: 2.4rem;
        i, b{
            display: inline-block;
            vertical-align: middle;
        }
        i{
            font-size: 4.5rem;
            line-height: 5rem;
            @include margin-right(1rem);
            color: $color-primary;
        }
    }
    .address{
        color: #777;
    }
    .email{
        a{
            color: $color-primary;
        }
    }
}
.social{
    a{
        display: inline-block;
        vertical-align: middle;
        @include margin-right(1rem);
        color: #ddd;
        font-size: 1.8rem;
        line-height: 2.2rem;
        &.google-plus{
            font-size: 2.4rem;
        }
        &:hover{
            color: $black;
        }
    }
}

.map{
    iframe{
        width:100%;
    }
}
/*
Page 404
----------------------------*/
#site-content{
    &.error404{
        @extend .text-center;
        padding:13rem 0;
        i{
            display: block;
            font-size:4rem;
            line-height:5rem;
            margin-bottom:1rem;
        }
        h3{
            font-size:3.8rem;
            line-height:4rem;
            margin-bottom:.5rem;
        }
        b{
            display:block;
            font-size:1.4rem;
            margin-bottom:4rem;
        }
        p{
            margin-bottom:1.5rem;
        }
        a{
            i{
                display: inline;
                font-size: inherit;
                line-height: inherit;
                @include margin-right(.5rem);
            }
        }
    }
}


/*
Archive
----------------------------*/
#content{
    float: right;
}
.bnArchive{
    margin-bottom: 2rem;
    img{
        width:100%;
    }
}
