.product-item-i{
    padding: 0 15px;
    margin-bottom: 3rem;
    &.home{
        padding: 0;
    }
    img{
        width: 100%;
    }
    h4{
        padding: 2rem 0;
        text-align: center;
        font-size: 1.6rem;
        line-height: 2.2rem;
        text-transform: uppercase;
        @extend %transition;
    }
}