.product-item-i{
    padding: 0 15px;
    margin-bottom: 3rem;
    @extend %transition;
    &.home{
        padding: 0;
        padding: 5px;
        background-color: $white;
        border:2px solid $whisper;
        &:hover{
            border-color: $color-primary;
        }
    }
    img{
        @extend %transition;
        width: 100%;
        border: 2px solid transparent;
    }
    h4{
        padding: 2rem 0;
        text-align: center;
        font-size: 1.6rem;
        line-height: 2.2rem;
        text-transform: uppercase;
        @extend %transition;
    }
    &:hover{
        h4{
            color: $color-primary;
        }
    }
}

.quantity {
    position:relative;
    display:inline-block;
    vertical-align: top;
    margin:0;
    .title{
        font-size: 11px;
        line-height: 20px;
        margin-bottom: 5px;
    }
    .input-text, button{
        font-weight:900;
        padding:0;
        width:30px;
        height:30px;
        line-height:30px;
        border:none;
        border-radius:0;
        float:left;
        margin-right:0 !important;
        background-color:transparent;
        border: 1px solid $whisper;
        color: $black;
        text-align: center;
    }
    button{
        width: 20px;
        &.minus{
            border-right: none;
        }
        &.plus{
            border-left: none;
        }
        &:hover{
            color:$color-primary;
        }
    }
}

.add-to-cart{
    display: inline-block;
    margin-left : 40px;
    a{
        display: inline-block;
        padding: 0 15px;
        line-height: 50px;
        border-radius: 3px;
        background-color: #ff3945;
        color: $white;
        i{
            margin-right: 10px;
        }
        &:hover{
            background-color : $color-primary;
        }
    }
}
.product-info{
    h1{
        font-size: 24px;
        line-height: 30px;
        font-weight: 300;
        margin: 0 0 10px;
    }
    .meta{
        font-size: 13px; line-height: 18px;
        list-style: none;
        padding-bottom: 10px;
        margin: 0 0 15px;
        border-bottom: 1px solid $whisper;
        li{
            display: inline-block;
            margin-right: 15px;
            b{
                color: $color-primary;
            }
        }
    }
}
.product-meta{
    ul{ font-size: 13px; line-height: 18px;  margin: 0 0 15px; }
    .price{
        margin: 0 0 25px;
        span{
            font-size: 19px;
            line-height: 24px;
            color: #ff3425;
        }
        i{
            font-size: 13px; 
            line-height: 18px;
            color: $black;
            margin-left: 20px;
        }
    }
    .short-description{
        padding-bottom: 10px;
        margin-bottom: 15px;
        border-bottom: 1px solid $whisper;
        padding-left: 20px;
        li{
            margin-bottom: 10px;
        }
    }
}
.product-labels{
    section{
        padding: 10px 15px;
        border: 1px solid $whisper;
        margin-bottom: 20px;
        font-size: 13px;
        line-height: 18px;
    }
    .commit{
        ul{
            li{
                position: relative;
                margin-bottom: 10px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
    .contact{
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
            li{
                padding-left: 30px;
                position: relative;
                margin-bottom: 10px;
                &.phone{
                    i{
                        line-height: 30px;
                    }
                }
                &.email{
                    line-height: 20px;
                }
            }
            i{
                position: absolute;
                top: 0;
                left: 0;
                line-height: 20px;
                font-size: 20px;
            }
            b, em{
                display: block;
            }
            em{
                font-size: 11px;
            }
        }
    }
    .buttons{
        position: relative;
        margin-top: 15px;
        padding-top: 15px;
        border-top: 1px dashed $whisper;
        padding-right: 70px;
        button{
            position: absolute;
            right: 0;
            top: 15px;
            font-size: 9px;
            color: #fff;
            background-color: $color-primary;
            border-color: $color-primary;
            &:hover{
                background-color: #333;
                border-color: #333;
            }
        }
    }
}
.product-view{
    min-height: 400px;
}
.product-image{
    .images{
        position: relative;
        padding-left: 12rem;
        .thumbImages{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            margin:0;
            padding:0;
            width: 90px;
            height: 400px;
            overflow: hidden;
            list-style: none;
            li{
                display: block;
                margin-bottom: 10px;
                img{
                    padding: 3px;
                    border: 1px solid $whisper;
                    cursor: pointer;
                }
            }
        }
    }
}
.single-product-content{
    margin-top: 30px;
    .bxTitle{
        font-size: 24px;
        text-transform: uppercase;
        margin-bottom: 15px;
    }
    .entry-content{
        padding: 25px;
        background-color: #f4efdc;
    }
}
.related{
    margin-top: 50px;
    h2{
        padding: 0;
        margin-bottom: 30px;
        text-align: left;
    }
}