.widget{
    margin: 0 0 3.5rem;
    a{
        &:hover{
            color: $color-primary;
        }
    }
    ul, ol{
        list-style: none;
        margin: 0;
        padding: 0;
        @extend .clearfix;
        li{
            margin: 0 0 1rem;
            .count{
                @include margin-left(5px);
            }
        }
    }
}
.widgettitle{
    font: {
        size: 1.9rem;
        weight: 700;
    }
    line-height: 3rem;
    margin: 0 0 1.5rem;
    text-transform: uppercase;
    b, strong{
        font-weight: 700;
    }
}
.widget{
    &.widget_categories{
        ul{
            li{
                padding: 15px 0;
                border-bottom: 1px solid $silver;
                &:last-child{
                    padding-bottom: 0;
                    border-bottom: none;
                }
                a{
                    margin-right:5px;
                    &:before{
                        content:'\eb27';
                        font-family: $iconfont;
                    }
                }
            }
        }
    }
    &.widget_entries{
        ul{
            li{
                margin: 0 0 20px;
                text-align: center;
                span{
                    display: block;
                }
                h4{
                    display: block;
                    padding: 15px 0;
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    }

    &.widget_tags{
        a{
            display: inline-block;
            @include margin(0, .5rem, .5rem, 0);
            padding: .4rem 1.5rem;
            border: 2px solid $whisper;
            @extend .brr;
            &:hover{
                color: $color-default;
                border-color: $color-primary;
            }
        }
    }

}
