
/*
RESET
--------------------------------------*/
html, body{
  height: 100%;
}

html {
  @include box-sizing(border-box);
  font-size: 62.5%; /* 10px = 1rem */
}

body {
  color: $color-default;
  font-size: $font-size;
  font-family: $font-body;
  line-height: $line-height;
  background-color: $gray95;
}

//
// Make all elements from the DOM inherit from the parent box-sizing
// Since `*` has a specificity of 0, it does not override the `html` value
// making all elements inheriting from the root box-sizing value
// See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
//
* ,  *::before, *::after {
  @include box-sizing(inherit);
}

/// Anchor
a {
  color: $color-default;
  text-decoration: none;
  @extend %trs-bg;
  &:hover, &:focus {
    color: $red;
    text-decoration: none;
  }
}

/// Block elements
p, pre, figure {
  margin: 0 0 2rem 0;
  &:empty {
    display: none;
  }
}
blockquote, .explanation {
    display: block;
    margin-bottom: 1rem;
    @include margin-left(0);
    @include padding-left(1rem);

    font-weight: lighter;
    font-style: normal;

    @include border-left(0.5rem);
    border-color: $color-primary;

    > *:last-child {
      margin-bottom: 0;
    }
}
hr {
  border: 0;
  height: 1px;
  background: $gray-light;
}
img {
  border: 0;
}


/// Table
/// Unstyled table
table {
  margin-bottom: 1rem;

  th {
    font-weight: bold;
    @extend .text-left;
  }
}
  
  /// Styled table
.table {
  width: 100%;
  max-width: 100%;

  td, th {
    padding: 1rem;
    border-bottom: 1px solid $gray-light;
  }

  th {
    font-weight: bold;
  }

  thead {
    td, th {
      border-bottom-width: 2px;
    }
  }

  tbody, tfoot {
    tr:last-child {
      td, th {
        border-bottom: 0;
      }
    }
  }

  tfoot {
    td,th {
      border-top: 2px solid $gray-light;
    }
  }

  caption {
    padding: 0.75rem;
    font-size: small;
    color: $gray;
  }
}
  
  /// Lists
ul, ol {
  @extend p;
  @include margin-left(1.6rem);
  @include padding-left(0);
  ul, ol{
    margin-bottom: 1.5rem;
  }
  &:last-child {
    margin-bottom: 0;
    &:first-child{
      margin-bottom: 0;
    }
  }
}
.no-bullet {
  list-style: outside none none;
  margin-left: 0;
}
dl {
  @extend p;
}
dt {
  font-weight: bold;
}
dd {
  @include margin-left(0);
}
/*
Typography
--------------------------------------*/
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0 0 0.4rem 0;
  padding: 0;
  color: $color-default;
  font-family: $font-body;
  font-weight: 700;
  // anchors in headings should remain like headings, not anchors
  a {
    color: inherit;
    text-decoration: inherit;
    font-weight: inherit;

    &:hover {
      color: inherit;
      text-decoration: inherit;
    }
  }
}
h1, .h1 {
  font-size: 3.4rem;
  line-height: 4rem;
}
h2, .h2 {
  font-size: 3.0rem;
  line-height: 3.4rem;
}
h3, .h3 {
  font-size: 2.8rem;
  line-height: 3.4rem;
}
h4, .h4 {
  font-size: 2.4rem;
  line-height: 3rem;
}
h5, .h5 {
  font-size: 2.2rem;
  line-height: 3rem;
  font-weight: 500;
}
h6, .h6 {
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: 500;
}
.h1,.h2,.h3,.h4,.h5,.h6 {
  display: block;
}

/// Text elements
strong, b, .bold {
  font-weight: bold;
}
em, dfn, i, .italic {
  font-style: italic;
}
u, ins, .underline {
  text-decoration: underline;
}
.uppercase {
  text-transform: uppercase;
}
sub, .subscribt {
  font-size: small;
  text-transform: subscribe;
}
sup, .superscript {
  font-size: small;
  text-transform: superscript;
}
del, s, .strike {
  text-decoration: line-through;
}
small {
  font-size: small;
}
mark {

}

img{
  display: inline-block;
  max-width: 100%;
}

.col-13{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width:20%;
  @extend .float-left;
}


/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

.wp-caption-text,
.gallery-caption,
.bypostauthor {
  font-style: italic;
  font-size: 12px;
  color: #757575;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
    white-space: nowrap;
  height: 1px;
  width: 1px;
  overflow: hidden;
  display:none !important;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}
.entry-content img, .entry-summary img, .comment-content img, .widget img, .wp-caption {
  max-width: 100%;
}
.page-links {
  font-size: 14px;
  padding: 15px 0;
  font-weight:600;
}

.page-links .page-number {
  color: #767676;
  display: inline-block;
  padding: 0.5em 1em;
}

.page-links a {
  display: inline-block;
}

.page-links a .page-number {
  color: #222;
}
.sticky{}