.navigation{ text-align: center; }
.navigation ul{ margin: 0; padding: 0 }
.navigation ul li{display:inline-block; position:relative}
.navigation ul li a{display:block; padding:15px 30px 20px; font-size:19px; font-weight: 700; text-transform:uppercase;}
.navigation ul ul{position:absolute; top:100%; left:0; width:250px; z-index:100; background:#f4efdc; display:none}
.navigation ul ul li{display:block; width:100%; text-align:left}
.navigation ul ul li a{padding: 10px 20px; font-size: 14px; line-height: 22px; text-transform: none; font-weight: 400; color: $black;}
.navigation ul ul li{border:none}
.navigation ul li:hover > ul{display:block}
.navigation ul li a:hover{ color: $color-primary; background-color: transparent}

/*Menu Fix*/
.click-nav, .click-mobile{position:fixed !important; width:110%; height:40px; position:absolute; text-align:left; top:0; left:0; z-index:9999999; padding:0 0 0 15px; background:$color-primary; display: none}
.click-nav p, .click-mobile p{width:40px; height:40px; padding:7px 5px 5px; position:relative; display:inline-block; background:none}
.click-nav p span, .click-mobile p span{display:block; width:30px; height:5px; background:#fff; position:absolute; left:0; transition:all 0.3s linear}
span.icon_nav{top:7px}
span.icon_nav2{top:17px}
span.icon_nav3{top:27px}
.click-nav p.action, .click-mobile p.action{z-index:999999;}
p.action span.icon_nav{transform:rotate(45deg); top:18px}
p.action span.icon_nav2{display:none}
p.action span.icon_nav3{transform:rotate(-45deg); top:18px}