/* 13px */
/* 26px */
/* Font Icon */
input, textarea, select, button, .button, .product-item-i, .product-item-i img, .product-item-i h4, .widget_socials a, .icon-search, .item-cat h3, .post-item-i.home h4 {
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out; }

a {
  -webkit-transition: color .3s ease-in-out, background .3s ease-in-out;
  -o-transition: color .3s ease-in-out, background .3s ease-in-out;
  transition: color .3s ease-in-out, background .3s ease-in-out; }

/*
Clearfix
--------------------------------------*/
.clearfix, .comment-form p, .form-remind p, .comment-form ul, .form-remind ul, .comment-form ol, .form-remind ol, .comment-form dl, .form-remind dl, .widget ul, .widget ol, .post-wrapper {
  display: block; }
  .clearfix:before, .comment-form p:before, .form-remind p:before, .comment-form ul:before, .form-remind ul:before, .comment-form ol:before, .form-remind ol:before, .comment-form dl:before, .form-remind dl:before, .widget ul:before, .widget ol:before, .post-wrapper:before, .clearfix:after, .comment-form p:after, .form-remind p:after, .comment-form ul:after, .form-remind ul:after, .comment-form ol:after, .form-remind ol:after, .comment-form dl:after, .form-remind dl:after, .widget ul:after, .widget ol:after, .post-wrapper:after {
    content: "";
    display: table; }
  .clearfix:after, .comment-form p:after, .form-remind p:after, .comment-form ul:after, .form-remind ul:after, .comment-form ol:after, .form-remind ol:after, .comment-form dl:after, .form-remind dl:after, .widget ul:after, .widget ol:after, .post-wrapper:after {
    clear: both; }

/*
Icon Font
--------------------------------------*/
/*
CSS3 Mixins
--------------------------------------*/
/*
RTL Mixins
--------------------------------------*/
.text-left, table th {
  text-align: left; }
  .rtl .text-left, .rtl table th, table .rtl th {
    text-align: right; }

.text-right {
  text-align: right; }
  .rtl .text-right {
    text-align: left; }

.text-center, .to-top a, .owl-theme .owl-nav [class*=owl-], .box-text, #site-content.error404, .logo-wrapper, .widget_socials a {
  text-align: center; }
  .rtl .text-center, .rtl .to-top a, .to-top .rtl a, .rtl .owl-theme .owl-nav [class*=owl-], .owl-theme .owl-nav .rtl [class*=owl-], .rtl .box-text, .rtl #site-content.error404, .rtl .logo-wrapper, .rtl .widget_socials a, .widget_socials .rtl a {
    text-align: center; }

.float-left, .col-13 {
  float: left; }
  .rtl .float-left, .rtl .col-13 {
    float: right; }

.float-right, .comment-form input[type=submit], .form-remind input[type=submit], .widget_lang, .widget_search {
  float: right; }
  .rtl .float-right, .rtl .comment-form input[type=submit], .comment-form .rtl input[type=submit], .rtl .form-remind input[type=submit], .form-remind .rtl input[type=submit], .rtl .widget_lang, .rtl .widget_search {
    float: left; }

.float-none {
  float: none; }
  .rtl .float-none {
    float: none; }

.border, blockquote, .explanation {
  border-width: 0;
  border-style: solid;
  border-color: #eee; }

/*
Mixins Theme Common
-------------------------------------*/
.br-widget {
  padding: 0;
  border: 1px solid transparent;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }

.brr, input, textarea, select, button, .button, .widget.widget_tags a {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }

.trs, .owl-theme .owl-dots .owl-dot span {
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease; }

/*
RESET
--------------------------------------*/
html, body {
  height: 100%; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  /* 10px = 1rem */ }

body {
  color: #333;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  line-height: 2.6rem;
  background-color: #f2f2f2; }

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  -ms-box-sizing: inherit;
  box-sizing: inherit; }

a {
  color: #333;
  text-decoration: none; }
  a:hover, a:focus {
    color: #E8001E;
    text-decoration: none; }

p, ul, ol, dl, pre, figure {
  margin: 0 0 2rem 0; }
  p:empty, ul:empty, ol:empty, dl:empty, pre:empty, figure:empty {
    display: none; }

blockquote, .explanation {
  display: block;
  margin-bottom: 1rem;
  margin-left: 0;
  padding-left: 1rem;
  font-weight: lighter;
  font-style: normal;
  border-left-width: 0.5rem;
  border-color: #FF9009; }
  .rtl blockquote, .rtl .explanation {
    margin-left: 0;
    margin-right: 0; }
  .rtl blockquote, .rtl .explanation {
    padding-left: 0;
    padding-right: 1rem; }
  .rtl blockquote, .rtl .explanation {
    border-left-width: 0;
    border-right-width: 0.5rem; }
  blockquote > *:last-child, .explanation > *:last-child {
    margin-bottom: 0; }

hr {
  border: 0;
  height: 1px;
  background: #e5e5e5; }

img {
  border: 0; }

table {
  margin-bottom: 1rem; }
  table th {
    font-weight: bold; }

.table {
  width: 100%;
  max-width: 100%; }
  .table td, .table th {
    padding: 1rem;
    border-bottom: 1px solid #e5e5e5; }
  .table th {
    font-weight: bold; }
  .table thead td, .table thead th {
    border-bottom-width: 2px; }
  .table tbody tr:last-child td, .table tbody tr:last-child th, .table tfoot tr:last-child td, .table tfoot tr:last-child th {
    border-bottom: 0; }
  .table tfoot td, .table tfoot th {
    border-top: 2px solid #e5e5e5; }
  .table caption {
    padding: 0.75rem;
    font-size: small;
    color: #999; }

ul, ol {
  margin-left: 1.6rem;
  padding-left: 0; }
  .rtl ul, .rtl ol {
    margin-left: 0;
    margin-right: 1.6rem; }
  .rtl ul, .rtl ol {
    padding-left: 0;
    padding-right: 0; }
  ul ul, ul ol, ol ul, ol ol {
    margin-bottom: 1.5rem; }
  ul:last-child, ol:last-child {
    margin-bottom: 0; }
    ul:last-child:first-child, ol:last-child:first-child {
      margin-bottom: 0; }

.no-bullet {
  list-style: outside none none;
  margin-left: 0; }

dt {
  font-weight: bold; }

dd {
  margin-left: 0; }
  .rtl dd {
    margin-left: 0;
    margin-right: 0; }

/*
Typography
--------------------------------------*/
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0 0 0.4rem 0;
  padding: 0;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-weight: 700; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a {
    color: inherit;
    text-decoration: inherit;
    font-weight: inherit; }
    h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, .h1 a:hover, .h2 a:hover, .h3 a:hover, .h4 a:hover, .h5 a:hover, .h6 a:hover {
      color: inherit;
      text-decoration: inherit; }

h1, .h1 {
  font-size: 3.4rem;
  line-height: 4rem; }

h2, .h2 {
  font-size: 3.0rem;
  line-height: 3.4rem; }

h3, .h3 {
  font-size: 2.8rem;
  line-height: 3.4rem; }

h4, .h4 {
  font-size: 2.4rem;
  line-height: 3rem; }

h5, .h5 {
  font-size: 2.2rem;
  line-height: 3rem;
  font-weight: 500; }

h6, .h6 {
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: 500; }

.h1, .h2, .h3, .h4, .h5, .h6 {
  display: block; }

strong, b, .bold {
  font-weight: bold; }

em, dfn, i, .italic {
  font-style: italic; }

u, ins, .underline {
  text-decoration: underline; }

.uppercase {
  text-transform: uppercase; }

sub, .subscribt {
  font-size: small;
  text-transform: subscribe; }

sup, .superscript {
  font-size: small;
  text-transform: superscript; }

del, s, .strike {
  text-decoration: line-through; }

small {
  font-size: small; }

img {
  display: inline-block;
  max-width: 100%; }

.col-13 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 20%; }

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0; }

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

a img.alignnone {
  margin: 5px 20px 20px 0; }

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center; }

.wp-caption.alignnone {
  margin: 5px 20px 20px 0; }

.wp-caption.alignleft {
  margin: 5px 20px 20px 0; }

.wp-caption.alignright {
  margin: 5px 0 20px 20px; }

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto; }

.wp-caption p.wp-caption-text, .wp-caption ul.wp-caption-text, .wp-caption ol.wp-caption-text, .wp-caption dl.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px; }

.wp-caption-text,
.gallery-caption,
.bypostauthor {
  font-style: italic;
  font-size: 12px;
  color: #757575; }

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  white-space: nowrap;
  height: 1px;
  width: 1px;
  overflow: hidden;
  display: none !important; }

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

.entry-content img, .entry-summary img, .comment-content img, .widget img, .wp-caption {
  max-width: 100%; }

.page-links {
  font-size: 14px;
  padding: 15px 0;
  font-weight: 600; }

.page-links .page-number {
  color: #767676;
  display: inline-block;
  padding: 0.5em 1em; }

.page-links a {
  display: inline-block; }

.page-links a .page-number {
  color: #222; }

.navigation {
  text-align: center; }

.navigation ul {
  margin: 0;
  padding: 0; }

.navigation ul li {
  display: inline-block;
  position: relative; }

.navigation ul li a {
  display: block;
  padding: 15px 30px 20px;
  font-size: 19px;
  font-weight: 700;
  text-transform: uppercase; }

.navigation ul ul {
  position: absolute;
  top: 100%;
  left: 0;
  width: 250px;
  z-index: 100;
  background: #f4efdc;
  display: none; }

.navigation ul ul li {
  display: block;
  width: 100%;
  text-align: left; }

.navigation ul ul li a {
  padding: 10px 20px;
  font-size: 14px;
  line-height: 22px;
  text-transform: none;
  font-weight: 400;
  color: #000; }

.navigation ul ul li {
  border: none; }

.navigation ul li:hover > ul {
  display: block; }

.navigation ul li a:hover {
  color: #FF9009;
  background-color: transparent; }

/*Menu Fix*/
.click-nav, .click-mobile {
  position: fixed !important;
  width: 110%;
  height: 40px;
  position: absolute;
  text-align: left;
  top: 0;
  left: 0;
  z-index: 9999999;
  padding: 0 0 0 15px;
  background: #FF9009;
  display: none; }

.click-nav p, .click-nav ul, .click-nav ol, .click-nav dl, .click-mobile p, .click-mobile ul, .click-mobile ol, .click-mobile dl {
  width: 40px;
  height: 40px;
  padding: 7px 5px 5px;
  position: relative;
  display: inline-block;
  background: none; }

.click-nav p span, .click-nav ul span, .click-nav ol span, .click-nav dl span, .click-mobile p span, .click-mobile ul span, .click-mobile ol span, .click-mobile dl span {
  display: block;
  width: 30px;
  height: 5px;
  background: #fff;
  position: absolute;
  left: 0;
  transition: all 0.3s linear; }

span.icon_nav {
  top: 7px; }

span.icon_nav2 {
  top: 17px; }

span.icon_nav3 {
  top: 27px; }

.click-nav p.action, .click-nav ul.action, .click-nav ol.action, .click-nav dl.action, .click-mobile p.action, .click-mobile ul.action, .click-mobile ol.action, .click-mobile dl.action {
  z-index: 999999; }

p.action span.icon_nav, ul.action span.icon_nav, ol.action span.icon_nav, dl.action span.icon_nav {
  transform: rotate(45deg);
  top: 18px; }

p.action span.icon_nav2, ul.action span.icon_nav2, ol.action span.icon_nav2, dl.action span.icon_nav2 {
  display: none; }

p.action span.icon_nav3, ul.action span.icon_nav3, ol.action span.icon_nav3, dl.action span.icon_nav3 {
  transform: rotate(-45deg);
  top: 18px; }

/*
Theme Common
-------------------------------------*/
#wrapper {
  background-color: #fff; }

#site-content {
  padding: 3rem 0; }
  #site-content.front-page {
    padding-top: 0; }

#site-breadcrumb {
  margin-bottom: 3.5rem;
  padding-top: 2.5rem; }
  #site-breadcrumb .page-header {
    margin: 1rem 0 0; }

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px; }
  .breadcrumbs li {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.4rem;
    font-weight: 500; }
    .breadcrumbs li a {
      color: #FF9009; }
      .breadcrumbs li a:hover {
        color: #585858; }

.page-header {
  margin: 0;
  padding: 30px;
  border: none;
  background-color: #fafafa; }

.page-title {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  line-height: 2.6rem; }

/*
To Top
----------------------------*/
.to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 9999;
  -webkit-transform: translate(0, 2rem);
  -moz-transform: translate(0, 2rem);
  -ms-transform: translate(0, 2rem);
  -o-transform: translate(0, 2rem);
  transform: translate(0, 2rem);
  opacity: 0;
  filter: Alpha(opacity=0);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .rtl .to-top {
    right: auto;
    left: 2rem; }
  .to-top.active {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    filter: Alpha(opacity=100); }
  .to-top a {
    display: block;
    width: 4.5rem;
    height: 4.5rem;
    font-size: 1.8rem;
    line-height: 4rem;
    color: #333;
    background-color: #fff;
    border: 2px solid #eee;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    .to-top a:before {
      content: '\f2fc';
      font-family: "Material-Design-Iconic-Font";
      display: block;
      font-size: 3.6rem; }
    .to-top a:hover {
      background-color: #333;
      border-color: #333;
      color: #fff; }

/*
Comments
----------------------------*/
#comments h2 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.4rem;
  margin: 0 0 1rem; }
  #comments h2 b, #comments h2 strong {
    font-weight: 700; }

.comments-area {
  padding: 3rem; }
  .comments-area ol {
    list-style: none;
    margin: 0; }
    .comments-area ol.children {
      padding-left: 2rem; }
      .rtl .comments-area ol.children {
        padding-left: 0;
        padding-right: 2rem; }
    .comments-area ol li article {
      margin: 0 0 1.5rem;
      padding: 0 0 1.5rem;
      border-bottom: 1px solid #eee; }
  .comments-area .comment-header {
    color: #ccc;
    margin-bottom: .5rem; }
    .comments-area .comment-header cite {
      font-style: normal;
      color: #333; }
      .comments-area .comment-header cite::after {
        content: "|";
        display: inline-block;
        vertical-align: middle;
        margin: 0 1rem;
        color: #ccc; }
    .comments-area .comment-header .time-reply {
      display: inline-block;
      vertical-align: middle; }
      .comments-area .comment-header .time-reply i {
        margin-right: 0.4rem; }
        .rtl .comments-area .comment-header .time-reply i {
          margin-left: 0.4rem;
          margin-right: 0; }
  .comments-area .comment-meta {
    margin-bottom: 1rem; }
    .comments-area .comment-meta a {
      display: inline-block;
      vertical-align: top;
      color: #777;
      margin-right: 0.4rem; }
      .rtl .comments-area .comment-meta a {
        margin-left: 0.4rem;
        margin-right: 0; }
  .comments-area .comment-content {
    color: #777; }
    .comments-area .comment-content ol {
      list-style: decimal; }
    .comments-area .comment-content p:last-child, .comments-area .comment-content ul:last-child, .comments-area .comment-content ol:last-child, .comments-area .comment-content dl:last-child {
      margin: 0; }

.comment-respond {
  margin-top: 4rem;
  max-width: 66.6667%; }
  .comment-respond h3 {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2rem;
    margin: 0 0 1rem; }

/*
Accordion
----------------------------*/
#accordion .panel {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border: 1px solid #eee; }
  #accordion .panel > .panel-heading {
    color: #333;
    border: none;
    background-color: transparent;
    padding: 0; }
    #accordion .panel > .panel-heading .panel-title {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 2rem; }
      #accordion .panel > .panel-heading .panel-title a {
        display: block;
        padding: 1rem 2rem; }
        #accordion .panel > .panel-heading .panel-title a:hover {
          color: #FF9009; }
      #accordion .panel > .panel-heading .panel-title a:not(.collapsed) {
        color: #000;
        font-weight: 700; }
  #accordion .panel .panel-body {
    color: #777;
    border: none;
    padding: 1.5rem 2rem 2rem 4rem;
    position: relative; }
    .rtl #accordion .panel .panel-body {
      padding: 1.5rem 4rem 2rem 2rem; }
    #accordion .panel .panel-body:before {
      content: '';
      display: block;
      width: 3rem;
      height: 3px;
      background-color: #FF9009;
      position: absolute;
      top: 0;
      left: 4rem; }
      .rtl #accordion .panel .panel-body:before {
        left: auto;
        right: 4rem; }

/*
Owl Carousel Custom
----------------------------*/
.owl-carousel {
  margin-bottom: 3rem; }

.owl-theme .owl-dots .owl-dot span {
  width: .7rem;
  height: .7rem;
  margin: .5rem .3rem;
  background: #bbb; }
.owl-theme .owl-dots .owl-dot.active span {
  width: 3rem;
  background: #FF9009; }
.owl-theme .owl-nav {
  margin-bottom: 1rem; }
  .owl-theme .owl-nav [class*=owl-] {
    margin: 0 .3rem;
    padding: 0;
    width: 4rem;
    height: 2.2rem;
    background: #fff;
    color: #333;
    border: 1px solid #eee;
    line-height: 2.2rem;
    overflow: hidden;
    text-indent: -9999px;
    position: relative; }
    .owl-theme .owl-nav [class*=owl-]:before {
      content: '';
      font-family: "IcoFont";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      line-height: 2rem;
      font-size: 1.4rem;
      text-indent: 0; }
    .owl-theme .owl-nav [class*=owl-]:hover {
      background: #FF9009;
      border-color: #FF9009;
      color: #fff; }
  .owl-theme .owl-nav .owl-prev:before {
    content: '\eb76'; }
  .owl-theme .owl-nav .owl-next:before {
    content: '\eb79'; }
  .owl-theme .owl-nav .disabled {
    cursor: not-allowed;
    opacity: 1;
    filter: Alpha(opacity=100); }

.topnav-visible {
  margin-top: 5rem; }
  .topnav-visible .owl-dots {
    margin-top: 1rem; }
  .topnav-visible .owl-nav {
    position: absolute;
    top: -4rem;
    left: 1.2rem;
    margin: 0;
    padding: 0; }
    .rtl .topnav-visible .owl-nav {
      left: auto;
      right: 1.2rem; }

/* Drag Slider UI */
form {
  margin: 0; }

input, textarea, select, button, .button {
  display: block;
  outline: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 1.2rem;
  font-size: 1.3rem;
  line-height: 1.4rem;
  color: #333;
  width: 100%;
  max-width: 100%; }
  input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus, button:hover, button:focus, .button:hover, .button:focus {
    outline: none; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder, button::-webkit-input-placeholder, .button::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #bbb; }
  input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder, button::-moz-placeholder, .button::-moz-placeholder {
    /* Firefox 19+ */
    color: #bbb; }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder, select:-ms-input-placeholder, button:-ms-input-placeholder, .button:-ms-input-placeholder {
    /* IE 10+ */
    color: #bbb; }
  input:-moz-placeholder, textarea:-moz-placeholder, select:-moz-placeholder, button:-moz-placeholder, .button:-moz-placeholder {
    /* Firefox 18- */
    color: #bbb; }

textarea {
  min-height: 100px; }

.button, button, input[type=submit] {
  display: inline-block;
  width: auto;
  background-color: #FF9009;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  padding: 1.2rem 2.5rem;
  cursor: pointer; }
  .button:hover, button:hover, input[type=submit]:hover {
    color: #fff;
    background-color: #333; }

/* Search Form */
.form-search {
  position: relative;
  padding-right: 85px; }
  .rtl .form-search {
    padding-left: 85px;
    padding-right: 0; }
  .form-search .button, .form-search button, .form-search input[type=submit] {
    position: absolute;
    top: 0;
    right: 0; }
    .rtl .form-search .button, .rtl .form-search button, .rtl .form-search input[type=submit] {
      right: auto;
      left: 0; }

/* Comments Form */
.comment-form p, .form-remind p, .comment-form ul, .form-remind ul, .comment-form ol, .form-remind ol, .comment-form dl, .form-remind dl {
  margin: 0 0 .5rem;
  padding: 0;
  position: relative; }
.comment-form label, .form-remind label {
  font-weight: 400;
  position: absolute;
  top: 0;
  left: 1.2rem;
  color: #bbb;
  font-size: 1.3rem;
  line-height: 4rem;
  margin: 0;
  padding: 0; }
  .rtl .comment-form label, .rtl .form-remind label {
    left: auto;
    right: 1.2rem; }
  .comment-form label i, .form-remind label i {
    color: inherit;
    line-height: inherit; }
.comment-form input[type=text], .form-remind input[type=text],
.comment-form input[type=email],
.form-remind input[type=email],
.comment-form textarea,
.form-remind textarea {
  padding: 1.2rem 1.2rem 1.2rem 3rem; }
  .rtl .comment-form input[type=text], .rtl .form-remind input[type=text], .rtl
  .comment-form input[type=email], .rtl
  .form-remind input[type=email], .rtl
  .comment-form textarea, .rtl
  .form-remind textarea {
    padding: 1.2rem 3rem 1.2rem 1.2rem; }
.comment-form input[type=submit], .form-remind input[type=submit] {
  margin-top: 1rem;
  padding: 1.2rem 2.5rem; }

.form-remind {
  display: flex; }
  .form-remind .form-email {
    flex-grow: 1; }
  .form-remind .form-submit {
    max-width: 13rem;
    padding-left: 1rem; }
    .rtl .form-remind .form-submit {
      padding-left: 0;
      padding-right: 1rem; }
    .form-remind .form-submit input {
      margin: 0; }

.widget {
  margin: 0 0 3.5rem; }
  .widget a:hover {
    color: #FF9009; }
  .widget ul, .widget ol {
    list-style: none;
    margin: 0;
    padding: 0; }
    .widget ul li, .widget ol li {
      margin: 0 0 1rem; }
      .widget ul li .count, .widget ol li .count {
        margin-left: 5px; }
        .rtl .widget ul li .count, .rtl .widget ol li .count {
          margin-left: 0;
          margin-right: 5px; }

.widgettitle, .site-title {
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 3rem;
  margin: 0 0 1.5rem;
  text-transform: uppercase; }
  .widgettitle b, .site-title b, .widgettitle strong, .site-title strong {
    font-weight: 700; }

.widget.widget_categories ul li {
  padding: 15px 0;
  border-bottom: 1px solid #bbb; }
  .widget.widget_categories ul li:last-child {
    padding-bottom: 0;
    border-bottom: none; }
  .widget.widget_categories ul li a {
    margin-right: 5px; }
    .widget.widget_categories ul li a:before {
      content: '\eb27';
      font-family: "IcoFont"; }
.widget.widget_entries ul li {
  margin: 0 0 20px;
  text-align: center; }
  .widget.widget_entries ul li span {
    display: block; }
  .widget.widget_entries ul li h4 {
    display: block;
    padding: 15px 0;
    font-size: 16px;
    line-height: 24px; }
.widget.widget_tags a {
  display: inline-block;
  margin: 0 0.5rem 0.5rem 0;
  padding: .4rem 1.5rem;
  border: 2px solid #eee; }
  .rtl .widget.widget_tags a {
    margin: 0 0 0.5rem 0.5rem; }
  .widget.widget_tags a:hover {
    color: #333;
    border-color: #FF9009; }

.post-wrapper {
  margin: 0 0 2rem;
  padding: 15px;
  background-color: #f5ebc8; }
  .post-wrapper .entry-title {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 1rem; }
  .post-wrapper .post-thumbnail {
    width: 45%;
    float: left; }
  .post-wrapper .post-content {
    width: 55%;
    float: left;
    padding-left: 20px; }
  .post-wrapper .entry-summary, .post-wrapper .entry-content {
    font-size: 1.4rem;
    color: #777777; }
    .post-wrapper .entry-summary p:last-child, .post-wrapper .entry-summary ul:last-child, .post-wrapper .entry-summary ol:last-child, .post-wrapper .entry-summary dl:last-child, .post-wrapper .entry-content p:last-child, .post-wrapper .entry-content ul:last-child, .post-wrapper .entry-content ol:last-child, .post-wrapper .entry-content dl:last-child {
      margin: 0; }
  .post-wrapper .entry-content {
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    color: #333; }
  .post-wrapper.single .post-thumbnail, .post-wrapper.single .post-content {
    width: 100%;
    padding: 0 0 20px; }
  .post-wrapper.single .post-thumbnail img {
    max-width: 100%;
    display: block;
    margin: 0 auto; }
  .post-wrapper.single h1.entry-title {
    font-size: 2.2rem;
    line-height: 2.8rem; }

.post-related {
  margin-top: 50px; }
  .post-related h2 {
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    margin-bottom: 20px; }

.page-title {
  font-size: 38px;
  line-height: 44px;
  text-transform: uppercase;
  margin-bottom: 30px; }

/*
About Us
----------------------------*/
.st-row {
  margin-bottom: 3rem; }

.site-title:after {
  content: '';
  display: block;
  width: 5.8rem;
  height: .8rem;
  background: url(../images/other/site-title-line.png) center center no-repeat;
  margin: 1.5rem auto 2.5rem; }

.box-text {
  max-width: 66.666667%;
  margin: 0 auto; }

.box-quote .quote {
  margin-top: 2rem; }

.quote {
  font-size: 1.5rem;
  line-height: 2.4rem; }
  .quote i {
    font-family: "Roboto", serif; }

.gr-banners .bn-col:nth-child(2n+1) {
  padding-right: 0.5rem; }
  .rtl .gr-banners .bn-col:nth-child(2n+1) {
    padding-left: 0.5rem;
    padding-right: 0; }
.gr-banners .bn-col:nth-child(2n+2) {
  padding-left: 0.5rem; }
  .rtl .gr-banners .bn-col:nth-child(2n+2) {
    padding-left: 0;
    padding-right: 0.5rem; }
.gr-banners .single-image {
  margin-bottom: 1rem; }

/*
Contact Us
----------------------------*/
.contact-page .st-contact {
  padding: 25px 0; }
.contact-page .page-title {
  margin-bottom: 0; }

.contact-info {
  margin: 0 0 16rem; }

.bx-title {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #eee;
  color: #bbb;
  font-size: 1.2rem; }
  .bx-title p, .bx-title ul, .bx-title ol, .bx-title dl {
    margin: 0;
    padding: 0; }
  .bx-title h3 {
    font-size: 1.4rem;
    line-height: 2rem;
    color: #000;
    text-transform: uppercase;
    margin-bottom: .5rem; }

.info .hotline {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.4rem; }
  .info .hotline i, .info .hotline b {
    display: inline-block;
    vertical-align: middle; }
  .info .hotline i {
    font-size: 4.5rem;
    line-height: 5rem;
    margin-right: 1rem;
    color: #FF9009; }
    .rtl .info .hotline i {
      margin-left: 1rem;
      margin-right: 0; }
.info .address {
  color: #777; }
.info .email a {
  color: #FF9009; }

.social a {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1rem;
  color: #ddd;
  font-size: 1.8rem;
  line-height: 2.2rem; }
  .rtl .social a {
    margin-left: 1rem;
    margin-right: 0; }
  .social a.google-plus {
    font-size: 2.4rem; }
  .social a:hover {
    color: #000; }

.map iframe {
  width: 100%; }

/*
Page 404
----------------------------*/
#site-content.error404 {
  padding: 13rem 0; }
  #site-content.error404 i {
    display: block;
    font-size: 4rem;
    line-height: 5rem;
    margin-bottom: 1rem; }
  #site-content.error404 h3 {
    font-size: 3.8rem;
    line-height: 4rem;
    margin-bottom: .5rem; }
  #site-content.error404 b {
    display: block;
    font-size: 1.4rem;
    margin-bottom: 4rem; }
  #site-content.error404 p, #site-content.error404 ul, #site-content.error404 ol, #site-content.error404 dl {
    margin-bottom: 1.5rem; }
  #site-content.error404 a i {
    display: inline;
    font-size: inherit;
    line-height: inherit;
    margin-right: 0.5rem; }
    .rtl #site-content.error404 a i {
      margin-left: 0.5rem;
      margin-right: 0; }

/*
Archive
----------------------------*/
#content {
  float: right; }

.bnArchive {
  margin-bottom: 2rem; }
  .bnArchive img {
    width: 100%; }

.product-item-i {
  padding: 0 15px;
  margin-bottom: 3rem; }
  .product-item-i.home {
    padding: 0;
    padding: 5px;
    background-color: #fff;
    border: 2px solid #eee; }
    .product-item-i.home:hover {
      border-color: #FF9009; }
  .product-item-i img {
    width: 100%;
    border: 2px solid transparent; }
  .product-item-i h4 {
    padding: 2rem 0;
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.2rem;
    text-transform: uppercase; }
  .product-item-i:hover h4 {
    color: #FF9009; }

.quantity {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0; }
  .quantity .title {
    font-size: 11px;
    line-height: 20px;
    margin-bottom: 5px; }
  .quantity .input-text, .quantity button {
    font-weight: 900;
    padding: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: none;
    border-radius: 0;
    float: left;
    margin-right: 0 !important;
    background-color: transparent;
    border: 1px solid #eee;
    color: #000;
    text-align: center; }
  .quantity button {
    width: 20px; }
    .quantity button.minus {
      border-right: none; }
    .quantity button.plus {
      border-left: none; }
    .quantity button:hover {
      color: #FF9009; }

.add-to-cart {
  display: inline-block;
  margin-left: 40px; }
  .add-to-cart a {
    display: inline-block;
    padding: 0 15px;
    line-height: 50px;
    border-radius: 3px;
    background-color: #ff3945;
    color: #fff; }
    .add-to-cart a i {
      margin-right: 10px; }
    .add-to-cart a:hover {
      background-color: #FF9009; }

.product-info h1 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  margin: 0 0 10px; }
.product-info .meta {
  font-size: 13px;
  line-height: 18px;
  list-style: none;
  padding-bottom: 10px;
  margin: 0 0 15px;
  border-bottom: 1px solid #eee; }
  .product-info .meta li {
    display: inline-block;
    margin-right: 15px; }
    .product-info .meta li b {
      color: #FF9009; }

.product-meta ul {
  font-size: 13px;
  line-height: 18px;
  margin: 0 0 15px; }
.product-meta .price {
  margin: 0 0 25px; }
  .product-meta .price span {
    font-size: 19px;
    line-height: 24px;
    color: #ff3425; }
  .product-meta .price i {
    font-size: 13px;
    line-height: 18px;
    color: #000;
    margin-left: 20px; }
.product-meta .short-description {
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
  padding-left: 20px; }
  .product-meta .short-description li {
    margin-bottom: 10px; }

.product-labels section {
  padding: 10px 15px;
  border: 1px solid #eee;
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 18px; }
.product-labels .commit ul li {
  position: relative;
  margin-bottom: 10px; }
  .product-labels .commit ul li:last-child {
    margin-bottom: 0; }
.product-labels .contact ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  .product-labels .contact ul li {
    padding-left: 30px;
    position: relative;
    margin-bottom: 10px; }
    .product-labels .contact ul li.phone i {
      line-height: 30px; }
    .product-labels .contact ul li.email {
      line-height: 20px; }
  .product-labels .contact ul i {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 20px;
    font-size: 20px; }
  .product-labels .contact ul b, .product-labels .contact ul em {
    display: block; }
  .product-labels .contact ul em {
    font-size: 11px; }
.product-labels .buttons {
  position: relative;
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px dashed #eee;
  padding-right: 70px; }
  .product-labels .buttons button {
    position: absolute;
    right: 0;
    top: 15px;
    font-size: 9px;
    color: #fff;
    background-color: #FF9009;
    border-color: #FF9009; }
    .product-labels .buttons button:hover {
      background-color: #333;
      border-color: #333; }

.product-view {
  min-height: 400px; }

.product-image .images {
  position: relative;
  padding-left: 12rem; }
  .product-image .images .thumbImages {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    margin: 0;
    padding: 0;
    width: 90px;
    height: 400px;
    overflow: hidden;
    list-style: none; }
    .product-image .images .thumbImages li {
      display: block;
      margin-bottom: 10px; }
      .product-image .images .thumbImages li img {
        padding: 3px;
        border: 1px solid #eee;
        cursor: pointer; }
        .product-image .images .thumbImages li img.active {
          border-color: #f4efdc; }

.single-product-content {
  margin-top: 30px; }
  .single-product-content .bxTitle {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 15px; }
  .single-product-content .entry-content {
    padding: 25px;
    background-color: #118C4E;
    color: #fff; }

.related {
  margin-top: 50px; }
  .related h2 {
    padding: 0;
    margin-bottom: 30px;
    text-align: left; }

#site-header {
  background-color: #f4efdc; }

.header {
  padding: 2rem 0; }

.logo-wrapper .logo-inside {
  display: inline-block;
  max-width: 15rem; }
  .logo-wrapper .logo-inside a {
    display: block; }

.header .col-1 {
  padding-top: 35px; }
.header .col-3 {
  padding-top: 50px; }

.widget_socials a {
  display: inline-block;
  background-color: #333;
  color: #fff;
  width: 4rem;
  height: 4rem;
  font-size: 1.8rem;
  line-height: 4rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  margin-right: 5px; }
  .rtl .widget_socials a {
    margin-left: 5px;
    margin-right: 0; }
  .widget_socials a i {
    line-height: 4rem; }
  .widget_socials a:hover {
    background-color: #FF9009; }

.widget_lang, .widget_search {
  margin-left: 15px;
  position: relative; }
  .rtl .widget_lang, .rtl .widget_search {
    margin-left: 0;
    margin-right: 15px; }

.widget_lang a {
  display: inline-block;
  vertical-align: top;
  margin-left: 2px; }
  .rtl .widget_lang a {
    margin-left: 0;
    margin-right: 2px; }

.icon-search {
  width: 3rem;
  height: 2.3rem;
  line-height: 2.3rem;
  font-size: 2rem;
  cursor: pointer; }
  .icon-search:hover {
    color: #FF9009; }
  .icon-search i {
    line-height: 2.3rem; }

.search {
  z-index: 1000;
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
  width: 300px;
  background-color: #fff;
  padding: 10px;
  margin-top: 10px; }

.search form {
  position: relative; }

.search input {
  outline: none;
  border: 1px solid #e5e5e5;
  padding: 5px 10px;
  line-height: 25px; }

.search input[type=text] {
  width: 100%;
  padding-left: 30px;
  border-radius: 20px; }

.search input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  font-family: 'FontAwesome';
  font-size: 18px;
  color: #000;
  border: none;
  padding: 5px 15px; }

.footer {
  font-size: 13px;
  line-height: 18px;
  padding: 40px 0;
  background-color: #333;
  color: #fff; }
  .footer a {
    color: inherit; }
    .footer a:hover {
      color: #FF9009; }
  .footer .widgettitle, .footer .site-title {
    margin-bottom: 23px;
    font-weight: 700;
    font-size: 19px;
    color: inherit; }
  .footer .widget_socials {
    margin-top: 30px; }
    .footer .widget_socials a:hover {
      color: #fff; }

.widget_menu ul, .widget_recent_posts ul {
  margin: 0;
  list-style: none; }
  .widget_menu ul li, .widget_recent_posts ul li {
    margin-bottom: 20px; }

.widget-contact p, .widget-contact ul, .widget-contact ol, .widget-contact dl {
  margin-bottom: 5px; }
.widget-contact section {
  margin-bottom: 35px; }
  .widget-contact section:last-child {
    margin-bottom: 0; }

.bottom-footer {
  background-color: #646464;
  color: #fff;
  padding: 15px 0; }

.copyright {
  display: block;
  margin: 0;
  text-align: center; }

.widget_form_contact .form-group {
  margin-bottom: 25px; }
.widget_form_contact .form-control {
  height: 40px; }
.widget_form_contact .input-group-addon {
  background-color: #fff;
  color: #FF9009; }

.st-background {
  padding: 30px 0;
  background-color: #f4efdc; }

.st-category {
  padding: 30px 0; }

.item-cat {
  position: relative;
  overflow: hidden;
  text-align: center; }
  .item-cat a {
    display: block; }
  .item-cat img {
    width: 100%; }
  .item-cat h3 {
    margin-bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    font-size: 1.9rem;
    text-transform: uppercase; }
  .item-cat:hover h3 {
    background-color: rgba(0, 0, 0, 0.85); }

.st-title {
  display: block;
  margin: 0;
  padding: 4rem 0 6.5rem;
  font-size: 2.4rem;
  line-height: 2.6rem;
  text-align: center;
  text-transform: uppercase; }
  .st-title b {
    color: #FF9009; }

.st-feature .st-title {
  padding: 3rem 0 16.5rem; }

.owl-brands .item {
  padding: 0 15px; }
  .owl-brands .item img {
    display: block;
    margin: 0 auto;
    max-height: 195px; }

.post-item-i.home {
  position: relative;
  overflow: hidden;
  text-align: center; }
  .post-item-i.home a {
    display: block; }
  .post-item-i.home img {
    width: 100%; }
  .post-item-i.home h4 {
    margin-bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    font-size: 1.4rem;
    text-transform: uppercase; }
  .post-item-i.home:hover h4 {
    background-color: rgba(0, 0, 0, 0.85); }

.st-products {
  padding-bottom: 1rem; }

.st-feature {
  padding-bottom: 10rem; }
  .st-feature p, .st-feature ul, .st-feature ol, .st-feature dl {
    margin: 0;
    font-size: 15px;
    line-height: 22px; }
  .st-feature .index {
    position: relative;
    padding-right: 45px;
    padding-left: 45px; }
    .st-feature .index::before, .st-feature .index:after {
      position: absolute;
      width: 100%;
      background-size: 100% !important;
      background-repeat: no-repeat;
      background-position: 50%;
      content: " ";
      left: 50%; }
    .st-feature .index::before {
      top: 0;
      -webkit-transform: translate(-50%, -70%);
      transform: translate(-50%, -70%);
      height: 141px;
      padding: 0;
      background-image: url(../images/background/bg-1.png);
      height: auto;
      -webkit-transform: translateY(-65%);
      transform: translateY(-65%);
      padding-bottom: 64.28571%;
      left: 0;
      background-size: cover !important; }
    .st-feature .index:after {
      bottom: 0;
      height: 123px;
      -webkit-transform: translate(-50%, 50%);
      transform: translate(-50%, 50%);
      padding-bottom: 0;
      background-image: url(../images/background/bg-2.png);
      height: auto;
      -webkit-transform: translateY(50%);
      transform: translateY(50%);
      padding-bottom: 56.01092%;
      left: 0;
      background-size: cover !important; }
    .st-feature .index h4 {
      font-family: SFU Belle,sans-serif;
      font-size: 20px;
      line-height: 26px;
      padding-bottom: 20px;
      margin: 0;
      color: #FF9009; }
  .st-feature .inner {
    padding: 85px 15px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .st-feature ul {
    list-style: none; }
    .st-feature ul li {
      margin-bottom: 25px; }
      .st-feature ul li h4 {
        font-size: 16px;
        line-height: 30px; }
      .st-feature ul li i {
        display: inline-block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 50%;
        background-color: #FF9009;
        color: #fff;
        margin-right: 4px;
        text-align: center; }

.st-contact {
  padding: 50px 0; }
  .st-contact .st-info {
    color: #fff;
    padding-right: 0; }
  .st-contact .st-form {
    padding-left: 0; }
  .st-contact .st-info .inner {
    min-height: 600px;
    padding: 60px 20px;
    text-align: center;
    background-image: url(../images/background/bg-3.jpg);
    background-size: cover; }
  .st-contact .form {
    position: relative;
    overflow: hidden;
    min-height: 600px;
    padding: 5.2% 5.2% 0 29.2%;
    background: url(../images/background/bg-4.jpg);
    background-size: cover; }
    .st-contact .form input, .st-contact .form textarea {
      color: #000; }
    .st-contact .form:before {
      bottom: -50px;
      left: -250px;
      background-position: 50%;
      position: absolute;
      content: " ";
      background-image: url(../images/background/bg-5.png);
      height: 600px;
      width: 555px;
      background-repeat: no-repeat;
      background-size: contain;
      z-index: 0; }
    .st-contact .form .inner {
      position: relative;
      z-index: 10; }
  .st-contact ul {
    margin: 0;
    padding: 0; }
    .st-contact ul li {
      margin-bottom: 40px;
      list-style: none; }
      .st-contact ul li i {
        display: block;
        font-size: 60px;
        line-height: 65px;
        margin: 0 auto 15px; }
      .st-contact ul li a {
        color: inherit; }
  .st-contact .desc {
    line-height: 26px; }
  .st-contact .form-group {
    margin-bottom: 25px; }
  .st-contact .form-control {
    height: 40px; }
  .st-contact .input-group-addon {
    background-color: #fff;
    color: #FF9009; }

.st-videos {
  padding-top: 60px; }

.owl-large-videos .video-frame iframe {
  width: 100%; }
.owl-large-videos .text-frame h4 {
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 20px; }

.owl-small-videos .item {
  padding: 0 15px; }

#revslider .tp-banner ul li .tp-caption {
  border: none;
  background: none;
  width: auto;
  max-width: 90rem;
  height: auto;
  padding: 1.5rem !important;
  font-size: 4rem !important;
  line-height: 4.5rem !important;
  background-color: rgba(255, 255, 255, 0.5); }

@media screen and (max-width: 1200px) {
  .click-nav {
    display: block; }

  .navigation ul {
    position: fixed;
    top: 40px;
    right: 0;
    left: 100%;
    bottom: 0;
    display: block;
    background: #FF9009;
    z-index: 999999;
    padding: 15px;
    overflow: scroll;
    color: #fff; }

  .navigation ul::-webkit-scrollbar {
    display: none; }

  .navigation ul::-moz-scrollbar {
    display: none; }

  .navigation ul li {
    position: relative;
    display: block;
    width: 100%;
    background: none;
    border-bottom: none;
    text-align: left; }

  .navigation ul li a {
    padding: 10px 20px 10px 0;
    display: block;
    text-transform: uppercase;
    border-bottom: 1px dashed #f2f2f2;
    background: none;
    border-right: none; }

  .navigation ul li a:hover {
    color: #f4efdc; }

  .navigation ul li:last-child a {
    border-bottom: none; }

  .navigation ul li.active {
    border-bottom: 1px dashed #f2f2f2; }

  .navigation ul li.active a {
    border-bottom: none; }

  .navigation ul ul {
    display: block;
    padding-left: 25px;
    position: relative;
    top: auto;
    left: auto;
    background: none;
    border: none;
    width: 100%; }

  .navigation ul ul li {
    border-bottom: none; }

  .navigation ul ul li a, .navigation ul ul li:last-child a {
    border-bottom: 1px dashed #f2f2f2; }

  #site-header {
    padding-top: 40px; }

  .logo-wrapper .logo-inside {
    max-width: 10rem; }

  .header .col-1 {
    padding-top: 25px; }

  .header .col-3 {
    padding-top: 35px; } }
@media screen and (max-width: 991px) {
  .widget_socials a {
    width: 3rem;
    height: 3rem;
    font-size: 1.6rem;
    line-height: 3rem; }
    .widget_socials a i {
      line-height: inherit; }

  .item-cat {
    margin-bottom: 20px; }

  .st-feature {
    padding-bottom: 2rem; }

  .st-feature .index {
    margin: 240px auto 150px;
    padding: 50px; }

  .col-13 {
    width: 33.3333%; }

  .post-item-i.home {
    margin-bottom: 20px; }

  .col-footer {
    margin-bottom: 20px; }

  #revslider .tp-banner ul li .tp-caption {
    font-size: 2rem !important;
    line-height: 2.5rem !important; }

  .st-feature .st-title {
    padding-bottom: 4rem; }

  #sidebar, .product-image, .product-labels {
    margin-top: 20px; }

  .product-labels .buttons {
    padding-bottom: 15px; }

  .st-contact .st-info {
    padding-right: 15px; }

  .st-contact .st-form {
    padding-left: 15px; }

  .widget.widget_entries ul li {
    width: 50%;
    float: left; }
    .widget.widget_entries ul li:nth-child(2n+1) {
      padding-right: 10px; }
    .widget.widget_entries ul li:nth-child(2n+2) {
      padding-left: 10px; }

  .front-page .product-items:nth-child(2n+1) {
    clear: both; } }
@media screen and (max-width: 768px) {
  .col-13 {
    width: 50%; }

  .video-frame, .text-frame {
    width: 100%; } }
@media screen and (max-width: 600px) {
  .header .col-1, .header .col-2, .header .col-3 {
    width: 100%;
    padding: 0 15px 15px;
    text-align: center; }

  .widget_lang, .widget_search {
    float: none;
    margin: 0 10px;
    display: inline-block;
    vertical-align: top; }

  .search {
    right: 50%;
    transform: translateX(40%); }

  .st-feature .index {
    margin: 0 0 30px;
    padding: 25px; }
    .st-feature .index::before, .st-feature .index::after {
      display: none; }

  .st-feature .inner {
    padding: 25px; }

  .st-title {
    padding: 3rem 0; }

  .post-wrapper .post-thumbnail,
  .post-wrapper .post-content {
    width: 100%;
    padding: 0 0 20px; }

  .post-wrapper .post-content {
    padding-bottom: 10px; } }
@media screen and (max-width: 480px) {
  .click-mobile {
    display: block; }

  .click-nav {
    display: none; }

  .st-feature .index {
    padding: 0; }

  .st-contact .form {
    padding: 25px; }

  #revslider .tp-banner ul li .tp-caption,
  #revslider .tparrows {
    display: none; }

  .item-cat h3 {
    font-size: 1.4rem;
    line-height: 2.2rem; }

  .product-item-i h4 {
    font-size: 1.4rem;
    line-height: 2.2rem;
    padding: 1.5rem 0 .5rem; } }
@media screen and (max-width: 320px) {
  .product-items {
    width: 100%; } }

/*# sourceMappingURL=theme.css.map */
