/* 13px */
/* 2px */
/* Font Icon */
input, textarea, select, button, .button, .product-item-i img, .product-item-i h4, .widget_socials a, .icon-search, .item-cat h3, .post-item-i.home h4 {
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out; }

a {
  -webkit-transition: color .3s ease-in-out, background .3s ease-in-out;
  -o-transition: color .3s ease-in-out, background .3s ease-in-out;
  transition: color .3s ease-in-out, background .3s ease-in-out; }

/*
Clearfix
--------------------------------------*/
.clearfix, .comment-form p, .form-remind p, .comment-form ul, .form-remind ul, .comment-form ol, .form-remind ol, .comment-form dl, .form-remind dl, .widget ul, .widget ol {
  display: block; }
  .clearfix:before, .comment-form p:before, .form-remind p:before, .comment-form ul:before, .form-remind ul:before, .comment-form ol:before, .form-remind ol:before, .comment-form dl:before, .form-remind dl:before, .widget ul:before, .widget ol:before, .clearfix:after, .comment-form p:after, .form-remind p:after, .comment-form ul:after, .form-remind ul:after, .comment-form ol:after, .form-remind ol:after, .comment-form dl:after, .form-remind dl:after, .widget ul:after, .widget ol:after {
    content: "";
    display: table; }
  .clearfix:after, .comment-form p:after, .form-remind p:after, .comment-form ul:after, .form-remind ul:after, .comment-form ol:after, .form-remind ol:after, .comment-form dl:after, .form-remind dl:after, .widget ul:after, .widget ol:after {
    clear: both; }

/*
Icon Font
--------------------------------------*/
/*
CSS3 Mixins
--------------------------------------*/
/*
RTL Mixins
--------------------------------------*/
.text-left, table th {
  text-align: left; }
  .rtl .text-left, .rtl table th, table .rtl th {
    text-align: right; }

.text-right {
  text-align: right; }
  .rtl .text-right {
    text-align: left; }

.text-center, .to-top a, .owl-theme .owl-nav [class*=owl-], .box-text, .the-lookbooks section, #site-content.error404, #site-content.coming-page, .logo-wrapper, .widget_socials a {
  text-align: center; }
  .rtl .text-center, .rtl .to-top a, .to-top .rtl a, .rtl .owl-theme .owl-nav [class*=owl-], .owl-theme .owl-nav .rtl [class*=owl-], .rtl .box-text, .rtl .the-lookbooks section, .the-lookbooks .rtl section, .rtl #site-content.error404, .rtl #site-content.coming-page, .rtl .logo-wrapper, .rtl .widget_socials a, .widget_socials .rtl a {
    text-align: center; }

.float-left, .col-13, .widget.widget_categories ul li {
  float: left; }
  .rtl .float-left, .rtl .col-13, .rtl .widget.widget_categories ul li, .widget.widget_categories ul .rtl li {
    float: right; }

.float-right, .comment-form input[type=submit], .form-remind input[type=submit], .widget_lang, .widget_search {
  float: right; }
  .rtl .float-right, .rtl .comment-form input[type=submit], .comment-form .rtl input[type=submit], .rtl .form-remind input[type=submit], .form-remind .rtl input[type=submit], .rtl .widget_lang, .rtl .widget_search {
    float: left; }

.float-none {
  float: none; }
  .rtl .float-none {
    float: none; }

.border, blockquote, .explanation {
  border-width: 0;
  border-style: solid;
  border-color: #eee; }

/*
Mixins Theme Common
-------------------------------------*/
.br-widget, .comments-area, .widget:not(.widget_tags) ul, .widget.widget_filter_price fieldset, .term-content {
  padding: 2.5rem 2.5rem 1.5rem;
  border: 1px solid #eee;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }

.brr, #accordion .panel, input, textarea, select, button, .button, .widget.widget_tags a, .post-wrapper .visited, .timing div {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }

.trs, .owl-theme .owl-dots .owl-dot span, .widget.widget_product_category ul li a:after {
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease; }

/*
RESET
--------------------------------------*/
html, body {
  height: 100%; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  /* 10px = 1rem */ }

body {
  color: #333;
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
  line-height: 2rem;
  background-color: #f2f2f2; }

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  -ms-box-sizing: inherit;
  box-sizing: inherit; }

a {
  color: #333;
  text-decoration: none; }
  a:hover, a:focus {
    color: #E8001E;
    text-decoration: none; }

p, ul, ol, dl, pre, figure {
  margin: 0 0 2rem 0; }
  p:empty, ul:empty, ol:empty, dl:empty, pre:empty, figure:empty {
    display: none; }

blockquote, .explanation {
  display: block;
  margin-bottom: 1rem;
  margin-left: 0;
  padding-left: 1rem;
  font-weight: lighter;
  font-style: normal;
  border-left-width: 0.5rem;
  border-color: #7ebc04; }
  .rtl blockquote, .rtl .explanation {
    margin-left: 0;
    margin-right: 0; }
  .rtl blockquote, .rtl .explanation {
    padding-left: 0;
    padding-right: 1rem; }
  .rtl blockquote, .rtl .explanation {
    border-left-width: 0;
    border-right-width: 0.5rem; }
  blockquote > *:last-child, .explanation > *:last-child {
    margin-bottom: 0; }

hr {
  border: 0;
  height: 1px;
  background: #e5e5e5; }

img {
  border: 0; }

table {
  margin-bottom: 1rem; }
  table th {
    font-weight: bold; }

.table {
  width: 100%;
  max-width: 100%; }
  .table td, .table th {
    padding: 1rem;
    border-bottom: 1px solid #e5e5e5; }
  .table th {
    font-weight: bold; }
  .table thead td, .table thead th {
    border-bottom-width: 2px; }
  .table tbody tr:last-child td, .table tbody tr:last-child th, .table tfoot tr:last-child td, .table tfoot tr:last-child th {
    border-bottom: 0; }
  .table tfoot td, .table tfoot th {
    border-top: 2px solid #e5e5e5; }
  .table caption {
    padding: 0.75rem;
    font-size: small;
    color: #686875; }

ul, ol {
  margin-left: 1.6rem;
  padding-left: 0; }
  .rtl ul, .rtl ol {
    margin-left: 0;
    margin-right: 1.6rem; }
  .rtl ul, .rtl ol {
    padding-left: 0;
    padding-right: 0; }
  ul ul, ul ol, ol ul, ol ol {
    margin-bottom: 1.5rem; }
  ul:last-child, ol:last-child {
    margin-bottom: 0; }
    ul:last-child:first-child, ol:last-child:first-child {
      margin-bottom: 0; }

.no-bullet {
  list-style: outside none none;
  margin-left: 0; }

dt {
  font-weight: bold; }

dd {
  margin-left: 0; }
  .rtl dd {
    margin-left: 0;
    margin-right: 0; }

/*
Typography
--------------------------------------*/
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0 0 0.4rem 0;
  padding: 0;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-weight: 700; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a {
    color: inherit;
    text-decoration: inherit;
    font-weight: inherit; }
    h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, .h1 a:hover, .h2 a:hover, .h3 a:hover, .h4 a:hover, .h5 a:hover, .h6 a:hover {
      color: inherit;
      text-decoration: inherit; }

h1, .h1 {
  font-size: 3.4rem;
  line-height: 4rem; }

h2, .h2 {
  font-size: 3.0rem;
  line-height: 3.4rem; }

h3, .h3 {
  font-size: 2.8rem;
  line-height: 3.4rem; }

h4, .h4 {
  font-size: 2.4rem;
  line-height: 3rem; }

h5, .h5 {
  font-size: 2.2rem;
  line-height: 3rem;
  font-weight: 500; }

h6, .h6 {
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: 500; }

.h1, .h2, .h3, .h4, .h5, .h6 {
  display: block; }

strong, b, .bold {
  font-weight: bold; }

em, dfn, i, .italic {
  font-style: italic; }

u, ins, .underline {
  text-decoration: underline; }

.uppercase {
  text-transform: uppercase; }

sub, .subscribt {
  font-size: small;
  text-transform: subscribe; }

sup, .superscript {
  font-size: small;
  text-transform: superscript; }

del, s, .strike {
  text-decoration: line-through; }

small {
  font-size: small; }

img {
  display: inline-block;
  max-width: 100%; }

.col-13 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 20%; }

/*
Theme Common
-------------------------------------*/
#wrapper {
  background-color: #f4efdc; }

#site-content {
  padding: 0 0 3rem; }

#site-breadcrumb {
  margin-bottom: 3.5rem;
  padding-top: 2.5rem; }
  #site-breadcrumb .page-header {
    margin: 1rem 0 0; }

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0; }
  .breadcrumbs li {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.4rem;
    font-weight: 500; }
    .breadcrumbs li.separator {
      color: #dfdfdf; }
    .breadcrumbs li a {
      color: #7ebc04; }
      .breadcrumbs li a:hover {
        color: red; }

.page-header {
  margin: 0;
  padding: 30px;
  border: none;
  background-color: #fafafa; }

.page-title {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  line-height: 2.6rem; }

/*
To Top
----------------------------*/
.to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 9999;
  -webkit-transform: translate(0, 2rem);
  -moz-transform: translate(0, 2rem);
  -ms-transform: translate(0, 2rem);
  -o-transform: translate(0, 2rem);
  transform: translate(0, 2rem);
  opacity: 0;
  filter: Alpha(opacity=0);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .rtl .to-top {
    right: auto;
    left: 2rem; }
  .to-top.active {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    filter: Alpha(opacity=100); }
  .to-top a {
    display: block;
    width: 4.5rem;
    height: 4.5rem;
    font-size: 1.8rem;
    line-height: 4rem;
    color: #333;
    background-color: #fff;
    border: 2px solid #eee;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    .to-top a:before {
      content: '\f2fc';
      font-family: "Material-Design-Iconic-Font";
      display: block;
      font-size: 3.6rem; }
    .to-top a:hover {
      background-color: #333;
      border-color: #333;
      color: #fff; }

/*
Comments
----------------------------*/
#comments h2 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.4rem;
  margin: 0 0 1rem; }
  #comments h2 b, #comments h2 strong {
    font-weight: 700; }

.comments-area {
  padding: 3rem; }
  .comments-area ol {
    list-style: none;
    margin: 0; }
    .comments-area ol.children {
      padding-left: 2rem; }
      .rtl .comments-area ol.children {
        padding-left: 0;
        padding-right: 2rem; }
    .comments-area ol li article {
      margin: 0 0 1.5rem;
      padding: 0 0 1.5rem;
      border-bottom: 1px solid #eee; }
  .comments-area .comment-header {
    color: #ccc;
    margin-bottom: .5rem; }
    .comments-area .comment-header cite {
      font-style: normal;
      color: #333; }
      .comments-area .comment-header cite::after {
        content: "|";
        display: inline-block;
        vertical-align: middle;
        margin: 0 1rem;
        color: #ccc; }
    .comments-area .comment-header .time-reply {
      display: inline-block;
      vertical-align: middle; }
      .comments-area .comment-header .time-reply i {
        margin-right: 0.4rem; }
        .rtl .comments-area .comment-header .time-reply i {
          margin-left: 0.4rem;
          margin-right: 0; }
  .comments-area .comment-meta {
    margin-bottom: 1rem; }
    .comments-area .comment-meta a {
      display: inline-block;
      vertical-align: top;
      color: #777;
      margin-right: 0.4rem; }
      .rtl .comments-area .comment-meta a {
        margin-left: 0.4rem;
        margin-right: 0; }
  .comments-area .comment-content {
    color: #777; }
    .comments-area .comment-content ol {
      list-style: decimal; }
    .comments-area .comment-content p:last-child, .comments-area .comment-content ul:last-child, .comments-area .comment-content ol:last-child, .comments-area .comment-content dl:last-child {
      margin: 0; }

.comment-respond {
  margin-top: 4rem;
  max-width: 66.6667%; }
  .comment-respond h3 {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2rem;
    margin: 0 0 1rem; }

/*
Accordion
----------------------------*/
#accordion .panel {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border: 1px solid #eee; }
  #accordion .panel > .panel-heading {
    color: #333;
    border: none;
    background-color: transparent;
    padding: 0; }
    #accordion .panel > .panel-heading .panel-title {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 2rem; }
      #accordion .panel > .panel-heading .panel-title a {
        display: block;
        padding: 1rem 2rem; }
        #accordion .panel > .panel-heading .panel-title a:hover {
          color: #7ebc04; }
      #accordion .panel > .panel-heading .panel-title a:not(.collapsed) {
        color: #000;
        font-weight: 700; }
  #accordion .panel .panel-body {
    color: #777;
    border: none;
    padding: 1.5rem 2rem 2rem 4rem;
    position: relative; }
    .rtl #accordion .panel .panel-body {
      padding: 1.5rem 4rem 2rem 2rem; }
    #accordion .panel .panel-body:before {
      content: '';
      display: block;
      width: 3rem;
      height: 3px;
      background-color: #7ebc04;
      position: absolute;
      top: 0;
      left: 4rem; }
      .rtl #accordion .panel .panel-body:before {
        left: auto;
        right: 4rem; }

/*
Owl Carousel Custom
----------------------------*/
.owl-carousel {
  margin-bottom: 3rem; }

.owl-theme .owl-dots .owl-dot span {
  width: .7rem;
  height: .7rem;
  margin: .5rem .3rem;
  background: #bbb; }
.owl-theme .owl-dots .owl-dot.active span {
  width: 3rem;
  background: #7ebc04; }
.owl-theme .owl-nav {
  margin-bottom: 1rem; }
  .owl-theme .owl-nav [class*=owl-] {
    margin: 0 .3rem;
    padding: 0;
    width: 4rem;
    height: 2.2rem;
    background: #fff;
    color: #333;
    border: 1px solid #eee;
    line-height: 2.2rem;
    overflow: hidden;
    text-indent: -9999px;
    position: relative; }
    .owl-theme .owl-nav [class*=owl-]:before {
      content: '';
      font-family: "IcoFont";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      line-height: 2rem;
      font-size: 1.4rem;
      text-indent: 0; }
    .owl-theme .owl-nav [class*=owl-]:hover {
      background: #7ebc04;
      border-color: #7ebc04;
      color: #fff; }
  .owl-theme .owl-nav .owl-prev:before {
    content: '\eb76'; }
  .owl-theme .owl-nav .owl-next:before {
    content: '\eb79'; }
  .owl-theme .owl-nav .disabled {
    cursor: not-allowed;
    opacity: 1;
    filter: Alpha(opacity=100); }

.topnav-visible {
  margin-top: 5rem; }
  .topnav-visible .owl-dots {
    margin-top: 1rem; }
  .topnav-visible .owl-nav {
    position: absolute;
    top: -4rem;
    left: 1.2rem;
    margin: 0;
    padding: 0; }
    .rtl .topnav-visible .owl-nav {
      left: auto;
      right: 1.2rem; }

form {
  margin: 0; }

input, textarea, select, button, .button {
  display: block;
  outline: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 1.2rem;
  font-size: 1.3rem;
  line-height: 1.4rem;
  color: #333;
  width: 100%;
  max-width: 100%; }
  input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus, button:hover, button:focus, .button:hover, .button:focus {
    outline: none; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder, button::-webkit-input-placeholder, .button::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #bbb; }
  input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder, button::-moz-placeholder, .button::-moz-placeholder {
    /* Firefox 19+ */
    color: #bbb; }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder, select:-ms-input-placeholder, button:-ms-input-placeholder, .button:-ms-input-placeholder {
    /* IE 10+ */
    color: #bbb; }
  input:-moz-placeholder, textarea:-moz-placeholder, select:-moz-placeholder, button:-moz-placeholder, .button:-moz-placeholder {
    /* Firefox 18- */
    color: #bbb; }

textarea {
  min-height: 100px; }

.button, button, input[type=submit] {
  display: inline-block;
  width: auto;
  background-color: #7ebc04;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  padding: 1.2rem 2.5rem;
  cursor: pointer; }
  .button:hover, button:hover, input[type=submit]:hover {
    color: #fff;
    background-color: #333; }

/* Search Form */
.form-search {
  position: relative;
  padding-right: 85px; }
  .rtl .form-search {
    padding-left: 85px;
    padding-right: 0; }
  .form-search .button, .form-search button, .form-search input[type=submit] {
    position: absolute;
    top: 0;
    right: 0; }
    .rtl .form-search .button, .rtl .form-search button, .rtl .form-search input[type=submit] {
      right: auto;
      left: 0; }

/* Comments Form */
.comment-form p, .form-remind p, .comment-form ul, .form-remind ul, .comment-form ol, .form-remind ol, .comment-form dl, .form-remind dl {
  margin: 0 0 .5rem;
  padding: 0;
  position: relative; }
.comment-form label, .form-remind label {
  font-weight: 400;
  position: absolute;
  top: 0;
  left: 1.2rem;
  color: #bbb;
  font-size: 1.3rem;
  line-height: 4rem;
  margin: 0;
  padding: 0; }
  .rtl .comment-form label, .rtl .form-remind label {
    left: auto;
    right: 1.2rem; }
  .comment-form label i, .form-remind label i {
    color: inherit;
    line-height: inherit; }
.comment-form input[type=text], .form-remind input[type=text],
.comment-form input[type=email],
.form-remind input[type=email],
.comment-form textarea,
.form-remind textarea {
  padding: 1.2rem 1.2rem 1.2rem 3rem; }
  .rtl .comment-form input[type=text], .rtl .form-remind input[type=text], .rtl
  .comment-form input[type=email], .rtl
  .form-remind input[type=email], .rtl
  .comment-form textarea, .rtl
  .form-remind textarea {
    padding: 1.2rem 3rem 1.2rem 1.2rem; }
.comment-form input[type=submit], .form-remind input[type=submit] {
  margin-top: 1rem;
  padding: 1.2rem 2.5rem; }

.form-remind {
  display: flex; }
  .form-remind .form-email {
    flex-grow: 1; }
  .form-remind .form-submit {
    max-width: 13rem;
    padding-left: 1rem; }
    .rtl .form-remind .form-submit {
      padding-left: 0;
      padding-right: 1rem; }
    .form-remind .form-submit input {
      margin: 0; }

.widget {
  margin: 0 0 3.5rem; }
  .widget a:hover {
    color: #7ebc04; }
  .widget ul, .widget ol {
    list-style: none;
    margin: 0;
    padding: 0; }
    .widget ul li, .widget ol li {
      margin: 0 0 1rem; }
      .widget ul li .count, .widget ol li .count {
        margin-left: 5px; }
        .rtl .widget ul li .count, .rtl .widget ol li .count {
          margin-left: 0;
          margin-right: 5px; }

.widgettitle, .site-title, .header-term h3 {
  font-size: 2rem;
  font-weight: 300;
  font-family: "Roboto", serif;
  line-height: 2.6rem;
  margin: 0 0 1rem;
  text-transform: capitalize; }
  .widgettitle b, .site-title b, .header-term h3 b, .widgettitle strong, .site-title strong, .header-term h3 strong {
    font-weight: 700; }

.widget.widget_categories ul li {
  width: 50%; }
  .widget.widget_categories ul li:nth-child(2n+1) {
    clear: both; }
.widget.widget_entries ul {
  padding: .5rem 2.5rem; }
  .widget.widget_entries ul li {
    margin: 0;
    padding: 1.5rem 0;
    border-bottom: 1px solid #eee; }
    .widget.widget_entries ul li:last-child {
      border-bottom: none; }
    .widget.widget_entries ul li a {
      font-size: 1.4rem;
      font-weight: 700; }
    .widget.widget_entries ul li .box-metas {
      margin-top: 1rem; }
    .widget.widget_entries ul li .meta {
      display: inline-block;
      vertical-align: middle;
      color: #ccc; }
      .widget.widget_entries ul li .meta::after {
        content: "|";
        display: inline-block;
        vertical-align: middle;
        margin: 0 1rem; }
      .widget.widget_entries ul li .meta:last-child::after {
        display: none; }
      .widget.widget_entries ul li .meta a {
        color: inherit;
        font-size: inherit;
        font-weight: 400; }
      .widget.widget_entries ul li .meta i {
        margin-right: 0.5rem; }
        .rtl .widget.widget_entries ul li .meta i {
          margin-left: 0.5rem;
          margin-right: 0; }
    .widget.widget_entries ul li .posted-by img, .widget.widget_entries ul li .posted-by b {
      display: inline-block;
      vertical-align: middle; }
    .widget.widget_entries ul li .posted-by img {
      width: 32px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      margin-right: 1.5rem; }
      .rtl .widget.widget_entries ul li .posted-by img {
        margin-left: 1.5rem;
        margin-right: 0; }
    .widget.widget_entries ul li .posted-by b {
      font-weight: 400;
      color: #7ebc04; }
      .widget.widget_entries ul li .posted-by b:hover {
        color: red; }
.widget.widget_tags a {
  display: inline-block;
  margin: 0 0.5rem 0.5rem 0;
  padding: .4rem 1.5rem;
  border: 2px solid #eee; }
  .rtl .widget.widget_tags a {
    margin: 0 0 0.5rem 0.5rem; }
  .widget.widget_tags a:hover {
    color: #333;
    border-color: #7ebc04; }
.widget.widget_filter_price fieldset {
  padding: 3rem 2rem 5rem;
  margin-bottom: 1rem; }
.widget.widget_filter_price .ui-widget.ui-widget-content {
  height: 4px;
  border: none;
  background: #eee; }
.widget.widget_filter_price .ui-slider .ui-slider-handle {
  height: 1.2rem;
  width: 1.2rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background: #7ebc04;
  border: none;
  outline: none; }
  .widget.widget_filter_price .ui-slider .ui-slider-handle:hover, .widget.widget_filter_price .ui-slider .ui-slider-handle:focus {
    outline: none; }
  .widget.widget_filter_price .ui-slider .ui-slider-handle span {
    position: absolute;
    top: 2.5rem;
    left: 0;
    font-weight: 700;
    font-size: 1.4rem; }
.widget.widget_filter_price .ui-slider-horizontal .ui-slider-range {
  background: #7ebc04; }
.widget.widget_product_category .widgettitle, .widget.widget_product_category .site-title, .widget.widget_product_category .header-term h3, .header-term .widget.widget_product_category h3 {
  background-color: #7ebc04;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.8rem;
  margin: 0;
  padding: 1.5rem;
  text-transform: uppercase;
  color: #fff;
  -webkit-border-radius: 0.3rem 0.3rem 0 0;
  -moz-border-radius: 0.3rem 0.3rem 0 0;
  -ms-border-radius: 0.3rem 0.3rem 0 0;
  border-radius: 0.3rem 0.3rem 0 0; }
  .widget.widget_product_category .widgettitle::before, .widget.widget_product_category .site-title::before, .widget.widget_product_category .header-term h3::before, .header-term .widget.widget_product_category h3::before {
    content: '\f080';
    font-family: "IcoFont";
    margin-right: 0.5rem; }
    .rtl .widget.widget_product_category .widgettitle::before, .rtl .widget.widget_product_category .site-title::before, .rtl .widget.widget_product_category .header-term h3::before, .header-term .rtl .widget.widget_product_category h3::before {
      margin-left: 0.5rem;
      margin-right: 0; }
.widget.widget_product_category ul {
  margin: 0;
  padding: 0;
  -webkit-border-radius: 0 0 0.3rem 0.3rem;
  -moz-border-radius: 0 0 0.3rem 0.3rem;
  -ms-border-radius: 0 0 0.3rem 0.3rem;
  border-radius: 0 0 0.3rem 0.3rem; }
  .widget.widget_product_category ul li {
    margin: 0;
    border-bottom: 1px solid #eee; }
    .widget.widget_product_category ul li:last-child {
      border: none; }
    .widget.widget_product_category ul li a {
      display: block;
      padding: 1rem 1.5rem;
      font-weight: 500;
      position: relative; }
      .widget.widget_product_category ul li a i {
        font-size: 1.8rem;
        color: #ddd; }
      .widget.widget_product_category ul li a:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: .4rem;
        height: 0;
        background-color: transparent; }
        .rtl .widget.widget_product_category ul li a:after {
          right: auto;
          left: 0; }
      .widget.widget_product_category ul li a:hover {
        color: #7ebc04; }
        .widget.widget_product_category ul li a:hover i {
          color: #7ebc04; }
        .widget.widget_product_category ul li a:hover:after {
          height: 100%;
          background-color: #7ebc04; }
    .widget.widget_product_category ul li.nocat a {
      background-color: #fafafa; }
.widget.widget_compare ul li {
  position: relative;
  padding-right: 2.5rem; }
  .rtl .widget.widget_compare ul li {
    padding-left: 2.5rem;
    padding-right: 0; }
  .widget.widget_compare ul li .name a {
    font-weight: 500; }
  .widget.widget_compare ul li .name span {
    display: block; }
  .widget.widget_compare ul li .remove {
    position: absolute;
    top: .5rem;
    right: 0; }
    .rtl .widget.widget_compare ul li .remove {
      right: auto;
      left: 0; }
    .widget.widget_compare ul li .remove:hover {
      color: red; }

.entry-meta {
  margin: 0 0 2rem; }
  .entry-meta .meta {
    display: inline-block;
    vertical-align: bottom;
    color: #ccc; }
    .entry-meta .meta::after {
      content: "|";
      display: inline-block;
      vertical-align: bottom;
      margin: 0 1rem; }
    .entry-meta .meta:last-child::after {
      display: none; }
    .entry-meta .meta a {
      color: inherit;
      font-size: inherit;
      font-weight: 400; }
    .entry-meta .meta i {
      font-style: normal;
      margin-right: 0.5rem; }
      .rtl .entry-meta .meta i {
        margin-left: 0.5rem;
        margin-right: 0; }
    .entry-meta .meta.posted-by img, .entry-meta .meta.posted-by b {
      display: inline-block;
      vertical-align: bottom; }
    .entry-meta .meta.posted-by img {
      width: 32px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      margin-right: 1.5rem; }
      .rtl .entry-meta .meta.posted-by img {
        margin-left: 1.5rem;
        margin-right: 0; }
    .entry-meta .meta.posted-by b {
      font-weight: 400;
      color: #333; }
      .entry-meta .meta.posted-by b:hover {
        color: #7ebc04; }
    .entry-meta .meta.posted-in a {
      color: #7ebc04; }
      .entry-meta .meta.posted-in a:after {
        content: ',';
        display: inline-block;
        vertical-align: bottom;
        margin-right: 0.3rem; }
        .rtl .entry-meta .meta.posted-in a:after {
          margin-left: 0.3rem;
          margin-right: 0; }
      .entry-meta .meta.posted-in a:last-child:after {
        display: none; }
      .entry-meta .meta.posted-in a:hover {
        color: red; }

.post-wrapper {
  margin: 0 0 5rem; }
  .post-wrapper .entry-title {
    font-size: 3rem;
    line-height: 3.6rem;
    margin-bottom: 2rem; }
  .post-wrapper .post-thumbnail {
    position: relative;
    margin-bottom: 2.5rem; }
  .post-wrapper .visited {
    position: absolute;
    top: 2rem;
    right: 2rem;
    background-color: #fff;
    padding: .25rem .3rem; }
    .rtl .post-wrapper .visited {
      right: auto;
      left: 2rem; }
    .post-wrapper .visited ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .post-wrapper .visited ul li {
        display: inline-block;
        color: #bbb;
        font-size: 1.4rem;
        margin: 0 .6rem; }
        .post-wrapper .visited ul li a {
          color: inherit; }
        .post-wrapper .visited ul li i {
          margin-right: 0.4rem; }
          .rtl .post-wrapper .visited ul li i {
            margin-left: 0.4rem;
            margin-right: 0; }
  .post-wrapper .entry-summary, .post-wrapper .entry-content {
    font-size: 1.4rem;
    color: #777777;
    padding: 0 0 1.5rem;
    margin: 0 0 1.5rem;
    border-bottom: 2px solid #eee; }
    .post-wrapper .entry-summary p:last-child, .post-wrapper .entry-summary ul:last-child, .post-wrapper .entry-summary ol:last-child, .post-wrapper .entry-summary dl:last-child, .post-wrapper .entry-content p:last-child, .post-wrapper .entry-content ul:last-child, .post-wrapper .entry-content ol:last-child, .post-wrapper .entry-content dl:last-child {
      margin: 0; }
  .post-wrapper .read-more a {
    padding: 1rem 2.5rem; }
    .post-wrapper .read-more a:hover {
      color: #fff; }
  .post-wrapper .entry-content {
    padding-bottom: 3rem;
    margin-bottom: 3rem; }

/*
About Us
----------------------------*/
.st-row {
  margin-bottom: 3rem; }

.site-title:after {
  content: '';
  display: block;
  width: 5.8rem;
  height: .8rem;
  background: url(../images/other/site-title-line.png) center center no-repeat;
  margin: 1.5rem auto 2.5rem; }

.box-text {
  max-width: 66.666667%;
  margin: 0 auto; }

.box-quote .quote {
  margin-top: 2rem; }

.quote {
  font-size: 1.5rem;
  line-height: 2.4rem; }
  .quote i {
    font-family: "Roboto", serif; }

.gr-banners .bn-col:nth-child(2n+1) {
  padding-right: 0.5rem; }
  .rtl .gr-banners .bn-col:nth-child(2n+1) {
    padding-left: 0.5rem;
    padding-right: 0; }
.gr-banners .bn-col:nth-child(2n+2) {
  padding-left: 0.5rem; }
  .rtl .gr-banners .bn-col:nth-child(2n+2) {
    padding-left: 0;
    padding-right: 0.5rem; }
.gr-banners .single-image {
  margin-bottom: 1rem; }

/*
Contact Us
----------------------------*/
.contact-info {
  margin: 0 0 16rem; }

.bx-title {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #eee;
  color: #bbb;
  font-size: 1.2rem; }
  .bx-title p, .bx-title ul, .bx-title ol, .bx-title dl {
    margin: 0;
    padding: 0; }
  .bx-title h3 {
    font-size: 1.4rem;
    line-height: 2rem;
    color: #000;
    text-transform: uppercase;
    margin-bottom: .5rem; }

.info .hotline {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.4rem; }
  .info .hotline i, .info .hotline b {
    display: inline-block;
    vertical-align: middle; }
  .info .hotline i {
    font-size: 4.5rem;
    line-height: 5rem;
    margin-right: 1rem;
    color: #7ebc04; }
    .rtl .info .hotline i {
      margin-left: 1rem;
      margin-right: 0; }
.info .address {
  color: #777; }
.info .email a {
  color: #7ebc04; }

.social a {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1rem;
  color: #ddd;
  font-size: 1.8rem;
  line-height: 2.2rem; }
  .rtl .social a {
    margin-left: 1rem;
    margin-right: 0; }
  .social a.google-plus {
    font-size: 2.4rem; }
  .social a:hover {
    color: #000; }

/*
Services
----------------------------*/
.the-lookbooks {
  margin-bottom: 3rem; }
  .the-lookbooks section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fcfcfc; }
    .the-lookbooks section:nth-child(2n) {
      flex-direction: row-reverse; }
  .the-lookbooks .image, .the-lookbooks .text {
    width: 50%; }
  .the-lookbooks .text {
    padding: 0 7%; }
    .the-lookbooks .text h3 {
      font-size: 1.4rem;
      line-height: 2rem;
      text-transform: uppercase;
      padding-bottom: 1rem;
      margin-bottom: 1.5rem;
      position: relative; }
      .the-lookbooks .text h3:after {
        content: '';
        display: inline-block;
        width: 3rem;
        height: .3rem;
        background-color: #ddd;
        position: absolute;
        bottom: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%); }
    .the-lookbooks .text .desc {
      margin-bottom: 1.5rem; }

/*
Term of Use
----------------------------*/
.header-term .entry-meta:after {
  content: '';
  display: block;
  width: 5.8rem;
  height: .8rem;
  background: url(../images/other/site-title-line.png) center center no-repeat;
  margin: 1.5rem auto 2.5rem; }

.term-content {
  padding: 4rem 4rem 2.5rem;
  line-height: 2.4rem; }

.bx-color {
  padding: 2rem 4rem;
  background-color: #fafafa; }

/*
Page 404
----------------------------*/
#site-content.error404 {
  padding: 13rem 0; }
  #site-content.error404 i {
    display: block;
    font-size: 4rem;
    line-height: 5rem;
    margin-bottom: 1rem; }
  #site-content.error404 h3 {
    font-size: 3.8rem;
    line-height: 4rem;
    margin-bottom: .5rem; }
  #site-content.error404 b {
    display: block;
    font-size: 1.4rem;
    margin-bottom: 4rem; }
  #site-content.error404 p, #site-content.error404 ul, #site-content.error404 ol, #site-content.error404 dl {
    margin-bottom: 1.5rem; }
  #site-content.error404 a i {
    display: inline;
    font-size: inherit;
    line-height: inherit;
    margin-right: 0.5rem; }
    .rtl #site-content.error404 a i {
      margin-left: 0.5rem;
      margin-right: 0; }

/*
Coming Soon
----------------------------*/
.timing div {
  display: inline-block;
  min-width: 7rem;
  border: 2px solid #eee;
  padding: 1rem 0.8rem;
  margin: 0 2.2rem;
  position: relative; }
  .timing div:after {
    content: ':';
    display: block;
    font-size: 3rem;
    font-weight: 700;
    position: absolute;
    top: 0;
    left: 100%;
    width: 5rem;
    line-height: 7rem;
    color: #ccc; }
    .rtl .timing div:after {
      left: auto;
      right: 100%; }
  .timing div.sec:after {
    display: none; }
.timing b {
  display: block;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3rem;
  margin-bottom: .4rem;
  color: #7ebc04; }
.timing i {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.4rem; }

#site-content.coming-page {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: #fff url(../images/other/layer-cs.png) center center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center; }
  #site-content.coming-page span {
    display: block;
    font-size: 5rem;
    line-height: 6rem;
    margin-bottom: 1rem;
    color: #7ebc04; }
  #site-content.coming-page h3 {
    font-size: 3.8rem;
    line-height: 4rem;
    margin-bottom: 1.2rem; }
  #site-content.coming-page h4 {
    margin: 6rem 0 .5rem;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.8rem; }
  #site-content.coming-page form {
    display: inline-block;
    max-width: 90%; }

.product-item-i {
  padding: 0 15px;
  margin-bottom: 3rem; }
  .product-item-i.home {
    padding: 0; }
  .product-item-i img {
    width: 100%;
    border: 2px solid transparent; }
  .product-item-i h4 {
    padding: 2rem 0;
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.2rem;
    text-transform: uppercase; }
  .product-item-i:hover img {
    border-color: #7ebc04; }
  .product-item-i:hover h4 {
    color: #7ebc04; }

.header {
  padding: 2rem 0; }

.logo-wrapper .logo-inside {
  display: inline-block;
  max-width: 15rem; }
  .logo-wrapper .logo-inside a {
    display: block; }

.header .col-1 {
  padding-top: 40px; }
.header .col-3 {
  padding-top: 50px; }

.widget_socials a {
  display: inline-block;
  background-color: #545454;
  color: #fff;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  line-height: 3rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  margin-right: 5px; }
  .rtl .widget_socials a {
    margin-left: 5px;
    margin-right: 0; }
  .widget_socials a i {
    line-height: 3rem; }
  .widget_socials a:hover {
    background-color: #7ebc04; }

.widget_lang, .widget_search {
  margin-left: 15px; }
  .rtl .widget_lang, .rtl .widget_search {
    margin-left: 0;
    margin-right: 15px; }

.widget_lang a {
  display: inline-block;
  margin-left: 2px; }
  .rtl .widget_lang a {
    margin-left: 0;
    margin-right: 2px; }

.icon-search {
  width: 3rem;
  height: 2.3rem;
  line-height: 2.3rem;
  font-size: 2rem;
  cursor: pointer; }
  .icon-search:hover {
    color: #7ebc04; }
  .icon-search i {
    line-height: 2.3rem; }

.st-category {
  padding-top: 30px;
  padding-bottom: 60px; }

.item-cat {
  position: relative;
  overflow: hidden;
  text-align: center; }
  .item-cat a {
    display: block; }
  .item-cat img {
    width: 100%; }
  .item-cat h3 {
    margin-bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    font-size: 1.9rem;
    text-transform: uppercase; }
  .item-cat:hover h3 {
    background-color: rgba(0, 0, 0, 0.85); }

.st-title {
  display: block;
  margin: 0;
  padding: 4rem 0 6.5rem;
  font-size: 2.4rem;
  line-height: 2.6rem;
  text-align: center;
  text-transform: uppercase; }
  .st-title b {
    color: #7ebc04; }

.st-feature .st-title {
  padding: 3rem 0 16.5rem; }

.owl-brands .item {
  padding: 0 15px; }
  .owl-brands .item img {
    display: block;
    margin: 0 auto;
    max-height: 195px; }

.post-item-i.home {
  position: relative;
  overflow: hidden;
  text-align: center; }
  .post-item-i.home a {
    display: block; }
  .post-item-i.home img {
    width: 100%; }
  .post-item-i.home h4 {
    margin-bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    font-size: 1.4rem;
    text-transform: uppercase; }
  .post-item-i.home:hover h4 {
    background-color: rgba(0, 0, 0, 0.85); }

.st-products {
  margin-bottom: 4rem; }

#revslider .tp-banner ul li .tp-caption {
  border: none;
  background: none;
  width: auto;
  max-width: 90rem;
  height: auto;
  padding: 1.5rem !important;
  font-size: 4rem !important;
  line-height: 4.5rem !important;
  background-color: rgba(255, 255, 255, 0.5); }

@media screen and (min-width: 1200px) {
  .container {
    width: 100%;
    max-width: 120rem; }

  .container-md {
    max-width: 100rem; } }

/*# sourceMappingURL=theme.css.map */
