.footer{
	font-size: 13px;
	line-height: 18px;
	padding: 40px 0;
	background-color: #333;
	color:$white;
	a{
		color: inherit;
		&:hover{
			color:$color-primary;
		}
	}
	.widgettitle{
		margin-bottom: 23px;
	    font-weight: 700;
	    font-size: 19px;
	    color: inherit;
	    
	}
	.widget_socials{
		margin-top: 30px;
		a{
			&:hover{
				color:$white;
			}
		}
	}
}

.widget_menu, .widget_recent_posts{
	ul{
		margin: 0;
		list-style: none;
		li{
			margin-bottom: 20px;
		}
	}
}
.widget-contact{
	p{
		margin-bottom: 5px;
	}
	section{
		margin-bottom: 35px;
		&:last-child{
			margin-bottom: 0;
		}
	}
}
.bottom-footer{
	background-color: #646464;
	color: $white;
	padding: 15px 0;
}
.copyright{
	display: block;
	margin: 0;
	text-align: center;
}
.widget_form_contact{
	.form-group{
		margin-bottom: 25px;
	}

	.form-control{
		height: 40px;
	}
	.input-group-addon{
		background-color: $white;
		color: $color-primary;
	}
}