#site-header{
	background-color : $color-secondary;
}
.header {
	padding: 2rem 0;
}
.logo-wrapper{
	@extend .text-center;
	.logo-inside{
		display : inline-block;
		max-width: 15rem;
		a{
			display: block;
		}
	}
}
.header {
	.col-1{
		padding-top: 35px;
	}
	.col-3{
		padding-top: 50px;
	}
}
.widget_socials{
	a{
		display: inline-block;
		background-color: #545454;
		color: $white;
		width: 4rem;
		height: 4rem;
		font-size: 1.8rem;
		line-height: 4rem;
		@extend .text-center;
		@include border-radius(50%);
		@include margin-right(5px);
		@extend %transition;
		i{
			line-height: 4rem;
		}
		&:hover{
			background-color: $color-primary;
		}
	}
}
.widget_lang, .widget_search{
	@extend .float-right;
	@include margin-left(15px);
	position: relative;
}
.widget_lang{
	a{
		display: inline-block;
		@include margin-left(2px);
	}
}
.icon-search{
	width: 3rem;
	height: 2.3rem;
	line-height: 2.3rem;
	font-size: 2rem;
	cursor: pointer;
	@extend %transition;
	color: $white;
	&:hover{
		color: $color-primary;
	}
	i {
		line-height: 2.3rem;
	}
}


.search{display:block; position:absolute; top:100%; right:0; width:300px; background-color: $white; padding:10px; margin-top: 10px}
.search form{ position: relative; }
.search input{outline:none; border:1px solid #e5e5e5; padding:5px 10px; line-height: 25px; }
.search input[type=text]{width:100%; padding-left:30px; border-radius:20px; }
.search input[type=submit]{position:absolute; top:0; right:0; background:none; font-family:'FontAwesome'; font-size:18px; color:$black; border:none; padding:5px 15px}
